
.footer{
    display: flex;
    gap: 5rem;
    padding: 3rem 10rem;
    background-color: #F8FBFD;
    font-family: 'Poppins';
    width: 100%;
}
.footer__brand{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.footer__brand-title{
    color: #004B2F;
    font-weight: 800;
    font-size: 24px;
}
.footer__brand-tagline{
    color: #83C727;
    font-size: 16px;
    font-weight: 500;
}
.footer__heading{
    color: #323232;
    font-weight: 700;
    margin-bottom: 13px;
}
.footer__contact-icon--rotated{
    transform: rotate(90deg);
}
.footer__social-list {
  display: flex;
  gap: 0.7rem;
  list-style: none;
}
.footer__info-item {
  display: flex;
  gap: 10px;
  align-items: start;
}
.footer__text-small {
  font-size: 14px;
}
.footer__copyright {
  background-color: #F8FBFD;
  text-align: center;
  size: 16px;
  font-family: 'Poppins';
  padding: 1em 4em;
}



/* Responsive Design */
@media (max-width: 1024px) {
  .footer {
    padding: 3rem 5rem;
    gap: 4rem;
  }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: 2rem;
  }

  .footer__brand,
  .footer__contact,
  .footer__social {
    width: 100%;
  }

  .footer__social-list {
    justify-content: flex-start;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 1.5rem;
    gap: 1.5rem;
  }

  .footer__social-list {
    flex-direction: row;
    gap: 0.5rem;
  }

  .footer__copyright {
    font-size: 14px;
    padding: 1.5rem;
  }
}