  body{
    background: #f4f1f1; 
  }
  .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 90%;
    margin: auto;
  }
  .left-head{
    font-family: arial;
    margin-left: 2px;
    line-height: 0.50;
  }
  .right-head{
     margin-right: 5px;
  }
  .right-head input{
    outline: none;
    padding: 3px;

  }
  .main-update{
      width: 90%;
      margin: auto;
      line-height: 0.50;
      margin-top: 20px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      background: #ffffff;
    

  }
  .student-update-main{
    width: 80%;
    margin: auto;
  }
  .head-color{
   border: 1px solid grey;
   padding: 1.5em;
   border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-image: linear-gradient(to right,#82c727,#a9ff389a);
  }
  .profile-student{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
    }
  .profile-student img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
     margin: 0 10px;
     
  }
  .inside-profile{
    display: flex;
  }
  .edit-btn{
  width: 20%;
  text-align: center;
  }

  .updating-btn{
    padding: 7px 25px;
    color: white;
    border-radius: 8px;
    outline: none;
    border: 1px solid grey;
    background: #83c727;
    cursor: pointer;
  }
  label{
    display: block;
    margin-bottom:0.80em;
  }
  .all_fieldupdate input{
   padding: 5px;
   width: 90%;
   background-color: #F9F9F9;
   outline: none;
   border: none;
   border-radius: 5px;
  }
  .all_fieldupdate{
    margin-top: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1em;
  }

  .update-last img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
     margin: 0 10px;
  }
  .update-last h5{
    margin-left: 1em;
    font-size: 18px;
  }
  .last-profile{
 display: flex;
 align-items: center;
  }
  .inside3{
    line-height: 0.30;
  }
  .update-back{
    padding:0.50em 2.50em;
    margin: 2rem;
    color: #82c727;
    border: none;
    border-radius: 5px;
  }
