  body{
    background: white; 
    overflow-x: hidden;
  }
  .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 90%;
    margin: auto;
  }
  .left-head{
    font-family: arial;
    margin-left: 2px;
    line-height: 0.50;
  }
  .right-head{
     margin-right: 5px;
  }
  .right-head input{
    outline: none;
    padding: 3px;

  }
  :root{
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #83C727;
  --white-color: #FFFFFF;

}

  
  .student-update-main{
    width: 80%;
    margin: auto;
  }
  .head-color{
   border: 1px solid grey;
   padding: 1.5em;
   border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-image: linear-gradient(to right,#82c727,#a9ff389a);
  }
  .profile-student{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
    }
  .profile-student img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
     margin: 0 10px;
     
  }
  .inside-profile{
    display: flex;
  }
  .edit-btn{
  width: 20%;
  text-align: center;
  }


*{
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  font-weight: 500;
  /* color: #646cff; */
  text-decoration: inherit;
}
  .updating-btn{
    padding: 7px 25px;
    color: white;
    border-radius: 8px;
    outline: none;
    border: 1px solid grey;
    background: #83c727;
    cursor: pointer;
  }
  label{
    display: block;
    margin-bottom:0.80em;
  }
  .all_fieldupdate input{
   padding: 8px  5px;
   width: 100%;
   background-color: #F9F9F9;
   outline: none;
   border: 1px solid #f4f1f1;
   border-radius: 5px;

  }
  .all_fieldupdate{
    margin-top: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2em;
    justify-content: center;
    align-items: end;
  }
  .no-change-msg {
  color: red;
  background-color: #ffe5e5;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  

}

a:hover {
  color: #83C727;
}

  .update-last-logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
     margin: 0 10px;
     color: #82c727;
     background-color: aliceblue;
     display: flex;
     justify-content: center;
     align-items: center;
  }
  .update-last h5{
    margin-left: 1em;
    font-size: 16px;
  }
  .last-profile{
 display: flex;
 align-items: center;
  }
  .inside3{
    line-height: 0.30;
  }
  .update-btn{
    border: 2px solid white;
    
  }
  .update-back{
    padding:0.50em 3em;
    margin: 2rem;
    color: #82c727;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    cursor: pointer;
  }
  .text-sm{
    font-size: 14px;
  }
.text-right{
  text-align: right;

}

.bg-red{
  background-color: rgb(251, 10, 58);
}
span{
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0 5px;
}
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.loading {
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top: 4px solid #000;
  border-radius: 50%;
  animation: spinning 1s linear infinite;
}

@keyframes spinning {
  to { transform: rotate(360deg); }
}

button:hover {
  border-color: #83C727;

  }

.error-message {
  color: red;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid red;

}


.active-nav{
  display: block;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  .nav-display-manu{
    display: block;
  }
}

.nav-image img{
  width: 50px;

}
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.brand{
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-right ul{
  display: flex;
  gap: 3rem;
  align-items: center;
}
.brand-title h1{
font-size: 24px;
font-weight: 700;
}
.text-green{
  color: #83C727;
  font-style: Poppins;
  font-size: 600;
}
.text-gray{
  color: #004B2F;
}
.text-black{
  color: #686868;
  font-weight: 500;
}

.form-container{
  background-color:white;
  padding: 2rem;
  margin-left:20rem;
  margin-top: 4rem;
  border-radius: 15px;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.text-gray{
  color: #004B2F;
}
.text-green{
  color: #83C727;
}
.btn-bg-color{
  background-color: #83C727;
  color: white;
}
.form-up-header h1{
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
.form-header{
  background-color: #EBF9DA;
  padding: 1.5rem;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
border-radius: 5px;
margin-bottom: 2rem;
  
}
.form-header h3{
  text-align: center;

}
form input {
  background-color:white;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  height: 2rem;

}
.form-inputs-large{
 width: 100%;
}
.form-inputs-up{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
label{
  font-style: inherit;
  font-weight: bold;
  font-size: 14px;
}
.form-btn{
  display: flex;
  gap: 2rem;
  align-items: center;
  padding-top: 2rem;
  margin-left: 4rem;
  outline: none;
}
.form-btn-style-green{
  background-color: #83C727;
  color: white;
}
.form-btn-style-white{
  background-color:white;
  border: 2px solid #83C727;
  color:#83C727;
}


.btn-outline-green{
  background-color: white;
  border: 2px solid ;
}

.nav-display-manu{
  display: none
}

@media (max-width: 580px){
.navbar{
  display: block;
}
.nav-right ul{
  display: none;
}

.nav-right ul.active-nav{
  display: block;
  padding-left: 80%;
}
.nav-right ul.active-nav:hover{
cursor: pointer;
}
.nav-display-manu{
  display: block;
  margin-left: 95%;
  
}
.nav-display-manu:hover{
cursor: pointer;
}
.brand{
  justify-content: center;
  padding: 0 1.5em;
}
.culture-content{
  display: block !important;
  gap: 2rem;
  
}

}



/* *******banner section */

.container{
  background-color: var(--white-color);
    
}
.text-amber{
  color: #d49104;
}
.intro{
  display: flex;
  gap:3em;
  padding: 1em;
  align-items: center;
}
.right-side img{
  width: 100%;
}
.right-side{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:1em
}
.right-side div:first-child{
  grid-column: 1/4 ;
}

.h-b img{
  height: 120px;
}
.left-side{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.left-side h1{
  font-size:3em;
  font-weight: 600;
  line-height: 70px;
}
.btn-outline-green{
  border: 2px solid #83C727;
}
.flex{
  display: flex;
  gap: 1em;
}


.bg-green{
  background-color: #83C727;
}
.text-white{
  color: #ffffff;
}
.culture h3{
  text-align: center;
}
.culture h2{
text-align: center;
}
.culture-icon-title{
  display: flex;
  gap:0.4rem;
  align-items: center;
}
.low-size-p{
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
}
.culture-content1{
  border: 1px solid;
  padding: 10px;
  border-radius: 10px;
}
.culture-content-bgl-blue{
  background-color: #67629D;
}
.culture-content{
  display: flex;
  gap: 0.5rem;

} 
.culture{
  padding-top: 3rem;
}
.gallery-link{
  gap: 4rem;
  justify-content: center;
}
.gallery img{
  width: 100%;
  border-radius: 10px;
}
.more-image{
  align-items: center;
  justify-content: right;
}


.pt{
  padding-top: 3rem;
  }
.culture-content{
  display: block !important;
  gap: 2rem;
  
}





/* *******banner section */

.container{
  background-color: var(--white-color);
    
}
.text-amber{
  color: #d49104;
}
.intro{
  display: flex;
  gap:3em;
  padding: 1em;
  align-items: center;
}
.right-side img{
  width: 100%;
}
.right-side{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:1em
}
.right-side div:first-child{
  grid-column: 1/4 ;
}

.h-b img{
  height: 120px;
}
.left-side{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.left-side h1{
  font-size:3em;
  font-weight: 600;
  line-height: 70px;
}
.btn-outline-green{
  border: 2px solid #83C727;
}
.addStudent button{
  border: none;
  background-color: #83C727;
  color: #f1f1f1;
}


#delete{
 color: crimson;
 border: none;
 padding: 2px !important;
}
#delete:hover{
  background-color: lightcoral;
  color: white;
}
#edit{
  color: dodgerblue;
  border: none;
  padding: 2px !important;
}

#edit:hover{
  background-color: dodgerblue;
  color: white;
}

@media (max-width: 580px){
  .flex{
     flex-direction: column;
     justify-content: left;
     align-items: start;
     width: 100%;
  }
  .search{
    width: 100%;
  }
}





.active{
   color: #83C727 !important;
   font-weight: 700;
}


